table {  
    border: 1px solid black;
    background-color: tomato;

}
th{
    border: 1px solid black;
    background-color: violet;

}
tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    background-color: blue;

}